* {
    box-sizing: border-box;
    font-family: "Montserrat";
    
  }

  body{
    margin : 0 15px 0 15px;
  }

ul {
  list-style-type: none;
  text-decoration: none;
}

a {
    text-decoration: none;
}
