/* Responsive*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Montserrat";
  font-family: "Montserrat";
  font-family: "Montserrat";
}

body {
  margin: 0;
}

ul {
  list-style-type: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.banner {
  height: 111px;
  position: relative;
  margin: 20px 0px;
  border-radius: 10px;
  overflow: hidden;
}
@media screen and (min-width: 992px) {
  .banner {
    height: 223px;
  }
}
.banner__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  transform: scale(1.8);
}
@media screen and (min-width: 768px) {
  .banner__img {
    transform: scale(1.18);
  }
}
@media screen and (min-width: 992px) {
  .banner__img {
    transform: none;
    border-radius: 10px;
  }
}
.banner__title {
  position: absolute;
  left: 20px;
  top: 14px;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  width: 65%;
  line-height: 24px;
  letter-spacing: 0.5px;
}
@media screen and (min-width: 768px) {
  .banner__title {
    font-size: 33px;
    top: 15%;
    right: 20%;
    left: 20%;
    line-height: 30px;
  }
}
@media screen and (min-width: 992px) {
  .banner__title {
    font-size: 48px;
    line-height: 48px;
  }
}
.banner__filigrane {
  position: absolute;
  top: 0;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.about__banner > .banner {
  height: 223px;
  border-radius: 25px;
}

.about__banner > .banner__banner__img {
  transform: scale(1.15);
}
@media screen and (min-width: 992px) {
  .about__banner > .banner__banner__img {
    transform: none;
  }
}

@media screen and (min-width: 992px) {
  .about__banner > .banner__banner__filigrane {
    border-radius: 25px;
  }
}

.card {
  height: 255px;
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
  border-radius: 10px;
  overflow: hidden;
  background: linear-gradient(180deg, #ff6060, #ff6060, #ff6060, #833131);
}
@media screen and (min-width: 768px) {
  .card {
    width: 340px;
    height: 340px;
  }
}
@media screen and (min-width: 992px) {
  .card {
    width: 340px;
    height: 340px;
  }
}
.card__img {
  width: 100%;
  height: 77%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}
.card__title {
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  width: 54%;
  margin: 13px;
}
@media screen and (min-width: 768px) {
  .card__title {
    font-size: 15px;
    width: 90%;
  }
}
@media screen and (min-width: 992px) {
  .card__title {
    font-size: 18px;
    width: 70%;
  }
}

.carousel {
  display: flex;
  height: 255px;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 992px) {
  .carousel {
    height: 415px;
  }
}
.carousel__image {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 992px) {
  .carousel__image {
    border-radius: 25px;
  }
}
.carousel__scroll {
  display: flex;
  position: absolute;
  justify-content: space-between;
  width: 84%;
}
@media screen and (min-width: 992px) {
  .carousel__scroll {
    width: 82%;
  }
}
.carousel__scroll--button {
  border: none;
  background-color: transparent;
  height: 20px;
  padding: 0;
  cursor: pointer;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.2));
}
@media screen and (min-width: 768px) {
  .carousel__scroll--button {
    height: 40px;
  }
}
@media screen and (min-width: 992px) {
  .carousel__scroll--button {
    height: 79px;
  }
}
.carousel__left {
  height: 100%;
}
.carousel__rigth {
  height: 100%;
}
.carousel__counter {
  color: #fff;
  position: absolute;
  top: 110px;
  font-weight: 500;
  left: 46%;
  right: 46%;
  font-size: 12px;
  text-align: center;
}
@media screen and (min-width: 992px) {
  .carousel__counter {
    font-size: 18px;
    top: 189px;
  }
}

.collapse {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.collapse__text {
  margin: 0px;
}
.collapse__button {
  color: #f7f7f7;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: #ff6060;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  position: relative;
  bottom: -14px;
  cursor: pointer;
  font-size: 13px;
  padding: 0 10px;
}
@media screen and (min-width: 768px) {
  .collapse__button {
    font-size: 20px;
  }
}
@media screen and (min-width: 992px) {
  .collapse__button {
    font-size: 24px;
    height: 47px;
  }
}
.collapse__img {
  width: 16px;
  height: 9px;
}
@media screen and (min-width: 768px) {
  .collapse__img {
    width: 22px;
    height: 12px;
  }
}
@media screen and (min-width: 992px) {
  .collapse__img {
    width: 24px;
    height: 13px;
  }
}
.collapse__content {
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 17.11px;
  background-color: #f7f7f7;
  color: #ff6060;
  border-radius: 5px;
  padding: 15px 0;
}
@media screen and (min-width: 992px) {
  .collapse__content {
    height: auto;
  }
}

ul {
  display: inline-block;
  font-size: 12px;
  padding: 0px 7px 24px 11px;
  line-height: 17.11px;
  margin: 20px 2px;
}
@media screen and (min-width: 768px) {
  ul {
    font-size: 20px;
    line-height: 25px;
  }
}
@media screen and (min-width: 992px) {
  ul {
    font-size: 24px;
    line-height: 34.22px;
    padding: 32px 20px 5px 20px;
    margin: 0;
  }
}

@media screen and (min-width: 992px) {
  .product__collapse > .collapse {
    width: 90%;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
@media screen and (min-width: 768px) {
  .navbar {
    margin: 30px 50px;
  }
}
@media screen and (min-width: 992px) {
  .navbar {
    margin: 40px 100px;
  }
}
.navbar__link {
  display: flex;
  justify-content: space-around;
  width: 50%;
  text-transform: uppercase;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .navbar__link {
    width: 36%;
    font-size: 20px;
    text-transform: none;
  }
}
@media screen and (min-width: 992px) {
  .navbar__link {
    width: 28%;
    font-size: 24px;
    text-transform: none;
  }
}
.navbar__link--active, .navbar__link--inactive {
  width: 50%;
  color: #ff6060;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 500;
  text-decoration: underline;
}
.navbar__link--inactive {
  text-decoration: none;
}
.navbar__img {
  height: 48px;
}
@media screen and (min-width: 768px) {
  .navbar__img {
    height: 52px;
  }
}
@media screen and (min-width: 992px) {
  .navbar__img {
    height: 52px;
  }
}

.footer {
  width: 100%;
  background: #000;
  height: 209px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}
.footer__logo {
  margin-top: 4%;
}
.footer__text {
  color: #fff;
  font-weight: 500;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .footer__text {
    font-size: 18px;
  }
}
@media screen and (min-width: 992px) {
  .footer__text {
    font-size: 24px;
  }
}

.about__main {
  margin: 0 20px;
}
@media screen and (min-width: 768px) {
  .about__main {
    margin: 30px 50px;
  }
}
@media screen and (min-width: 992px) {
  .about__main {
    margin: 40px 100px;
  }
}
.about__content {
  margin: auto;
  height: auto;
  min-height: 160px;
}
@media screen and (min-width: 768px) {
  .about__content {
    width: 80%;
    min-height: 679px;
  }
}
@media screen and (min-width: 992px) {
  .about__content {
    width: 77%;
    min-height: 542px;
  }
}

.error {
  color: #ff6060;
  text-align: center;
}
.error__main {
  margin: 0 20px;
}
@media screen and (min-width: 768px) {
  .error__main {
    margin: 30px 50px;
  }
}
@media screen and (min-width: 992px) {
  .error__main {
    margin: 40px 100px;
  }
}
.error__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 523px;
}
@media screen and (min-width: 768px) {
  .error__info {
    height: 1025px;
  }
}
.error__number {
  font-weight: 700;
  font-size: 96px;
}
@media screen and (min-width: 768px) {
  .error__number {
    font-size: 150px;
  }
}
@media screen and (min-width: 992px) {
  .error__number {
    font-size: 288px;
  }
}
.error__text {
  font-weight: 500;
  font-size: 18px;
  width: 260px;
}
@media screen and (min-width: 768px) {
  .error__text {
    font-size: 25px;
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .error__text {
    font-size: 36px;
    width: 100%;
  }
}
.error__link {
  color: #ff6060;
  font-weight: 500;
  font-size: 14px;
  margin-top: 82px;
  text-decoration: underline;
}
@media screen and (min-width: 768px) {
  .error__link {
    font-size: 18px;
  }
}
@media screen and (min-width: 992px) {
  .error__link {
    font-size: 18px;
  }
}

.home__main {
  margin: 0 20px;
}
@media screen and (min-width: 768px) {
  .home__main {
    margin: 30px 50px;
  }
}
@media screen and (min-width: 992px) {
  .home__main {
    margin: 40px 100px;
  }
}
@media screen and (min-width: 768px) {
  .home__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: #f7f7f7;
    padding: 30px 10px 30px 10px;
    border-radius: 25px;
  }
}
@media screen and (min-width: 992px) {
  .home__gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(365px, 1fr));
    justify-items: center;
    border-radius: 25px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 25px;
  }
}

.product {
  display: flex;
  flex-direction: column;
  color: #ff6060;
}
.product__main {
  margin: 0 20px;
}
@media screen and (min-width: 768px) {
  .product__main {
    margin: 30px 50px;
  }
}
@media screen and (min-width: 992px) {
  .product__main {
    margin: 40px 100px;
  }
}
.product__content {
  display: flex;
  flex-direction: column;
  margin: 15px 0 0;
}
@media screen and (min-width: 992px) {
  .product__content {
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 0 0;
  }
}
.product__title {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .product__title {
    font-size: 27px;
  }
}
@media screen and (min-width: 992px) {
  .product__title {
    font-size: 36px;
  }
}
.product__location {
  font-size: 14px;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .product__location {
    font-size: 16px;
  }
}
@media screen and (min-width: 992px) {
  .product__location {
    font-size: 18px;
  }
}
.product__tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: center;
}
.product__tags p {
  width: 84px;
  height: 18px;
  font-size: 10px;
  border-radius: 5px;
  background-color: #ff6060;
  color: #fff;
  margin-right: 10px;
  padding: 3px;
}
@media screen and (min-width: 768px) {
  .product__tags p {
    width: 100px;
    height: 22px;
    font-size: 12px;
    border-radius: 10px;
  }
}
@media screen and (min-width: 992px) {
  .product__tags p {
    width: 115px;
    height: 25px;
    font-size: 14px;
    border-radius: 10px;
  }
}
.product__host-rating {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
}
@media screen and (min-width: 992px) {
  .product__host-rating {
    flex-direction: column;
    align-items: flex-end;
  }
}
.product__host {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 30%;
}
@media screen and (min-width: 992px) {
  .product__host {
    width: 9%;
  }
}
.product__host img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  .product__host img {
    width: 48px;
    height: 48px;
  }
}
@media screen and (min-width: 992px) {
  .product__host img {
    width: 64px;
    height: 64px;
  }
}
.product__host p {
  text-align: right;
  font-size: 12px;
  margin: 0 10px;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .product__host p {
    font-size: 16px;
  }
}
@media screen and (min-width: 992px) {
  .product__host p {
    font-size: 18px;
  }
}
.product__rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
}
@media screen and (min-width: 768px) {
  .product__rating {
    width: 16%;
    margin: 20px 0 20px 0;
  }
}
@media screen and (min-width: 992px) {
  .product__rating {
    width: 100%;
    margin: 20px 0 20px 0;
  }
}
.product__rating--star {
  width: 13.41px;
  height: 13px;
}
@media screen and (min-width: 768px) {
  .product__rating--star {
    width: 18.75px;
    height: 18px;
  }
}
@media screen and (min-width: 992px) {
  .product__rating--star {
    width: 24.75px;
    height: 24px;
  }
}
@media screen and (min-width: 768px) {
  .product__collapse {
    min-height: 515px;
  }
  .product__collapse > div > button {
    font-size: 15px;
    border-radius: 10px;
  }
  .product__collapse > div > div.collapse__content {
    border-radius: 0 0 10px 10px;
    padding: 15px 0;
  }
  .product__collapse > div > div.collapse__content > p, .product__collapse > div > div.collapse__content ul {
    font-size: 15px;
    line-height: 25, 67px;
  }
}
@media screen and (min-width: 992px) {
  .product__collapse {
    display: grid;
    grid-template-columns: repeat(2, 53%);
    align-items: start;
  }
  .product__collapse > div > button {
    font-size: 18px;
    border-radius: 10px;
  }
  .product__collapse > div > div.collapse__content {
    border-radius: 0 0 10px 10px;
    padding: 22px 0;
    height: 300px;
  }
  .product__collapse > div > div.collapse__content > p, .product__collapse > div > div.collapse__content ul {
    font-size: 18px;
    line-height: 25, 67px;
  }
}/*# sourceMappingURL=style.css.map */