/* Responsive*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Montserrat";
}

body {
  margin: 0;
}

ul {
  list-style-type: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.banner {
  height: 111px;
  position: relative;
  margin: 20px 15px 20px 15px;
  border-radius: 10px;
  overflow: hidden;
}
.banner__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  transform: scale(1.8);
}
.banner__title {
  position: absolute;
  left: 20px;
  top: 14px;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  width: 65%;
  line-height: 24px;
  letter-spacing: 0.5px;
}
.banner__filigrane {
  position: absolute;
  top: 0;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.about__banner > .banner {
  height: 223px;
}

.about__banner > .banner__banner__img {
  transform: scale(1.15);
}

.card {
  height: 255px;
  display: flex;
  flex-direction: column;
  margin: 20px 15px 20px 15px;
  border-radius: 10px;
  overflow: hidden;
  background: linear-gradient(180deg, #ff6060, #ff6060, #ff6060, #833131);
}
.card__img {
  width: 100%;
  height: 77%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}
.card__title {
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  width: 54%;
  margin: 13px;
}

.carousel {
  display: flex;
  height: 255px;
  align-items: center;
  justify-content: center;
  margin: 0 20px 0 20px;
}
.carousel__image {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.carousel__scroll {
  display: flex;
  position: absolute;
  justify-content: space-between;
  width: 90%;
}
.carousel__scroll--button {
  border: none;
  background-color: transparent;
  height: 20px;
  padding: 0;
  cursor: pointer;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.2));
}
.carousel__left {
  height: 100%;
}
.carousel__rigth {
  height: 100%;
}
.carousel__counter {
  color: #fff;
  position: absolute;
  bottom: 25px;
  font-weight: 500;
  left: 46%;
  right: 46%;
  font-size: 14px;
}

.collapse {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.collapse__button {
  color: #f7f7f7;
  width: 93%;
  border: none;
  border-radius: 5px;
  background-color: #ff6060;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 47px;
  cursor: pointer;
  font-size: 13px;
  padding: 0 20px;
}
.collapse__img {
  width: 16px;
  height: 9px;
}
.collapse__content {
  margin: 0;
  width: 93%;
  font-weight: 400;
  font-size: 12px;
  line-height: 17.11px;
  background-color: #f7f7f7;
  color: #ff6060;
  padding: 21px 12px 52px 12px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.navbar__link {
  display: flex;
  justify-content: space-around;
  width: 50%;
  text-transform: uppercase;
  font-size: 12px;
}
.navbar__link--active, .navbar__link--inactive {
  width: 50%;
  color: #ff6060;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 500;
  text-decoration: underline;
}
.navbar__link--inactive {
  text-decoration: none;
}
.navbar__img {
  height: 48px;
}

.footer {
  width: 100%;
  background: #000;
  height: 209px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.footer__logo {
  margin-top: 4%;
}
.footer__text {
  color: #fff;
  font-weight: 500;
  font-size: 20px;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .footer__text {
    font-size: 12px;
  }
}

.about__content {
  max-width: 1023px;
  margin: auto;
}

.error {
  color: #ff6060;
  text-align: center;
}
.error__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 523px;
}
.error__number {
  font-weight: 700;
  font-size: 96px;
}
.error__text {
  font-weight: 500;
  font-size: 18px;
  width: 260px;
}
.error__link {
  color: #ff6060;
  font-weight: 500;
  font-size: 14px;
  margin-top: 82px;
  text-decoration: underline;
}

.product {
  display: flex;
  flex-direction: column;
  color: #ff6060;
}
.product__content {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.product__title {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}
.product__location {
  font-size: 14px;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 10px;
}
.product__tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 77%;
}
.product__tags p {
  font-size: 10px;
  border-radius: 5px;
  background-color: #ff6060;
  color: #fff;
  margin-right: 10px;
  padding: 5px;
}
.product__host-rating {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
}
.product__host {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 30%;
}
.product__host img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product__host p {
  text-align: right;
  font-size: 12px;
  margin: 0 10px;
  font-weight: 500;
}
.product__collapse--eqt {
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=style.css.map */