/* Responsive*/

@mixin media-max($_max-width) {
    @media screen and (max-width: $_max-width) {
        &{ @content; }
    }
}
@mixin media-min($_min-width) {
    @media screen and (min-width: $_min-width) {
        &{ @content; }
    }
}
@mixin media-inter($_min-width,$_max-width) {
    @media screen and (min-width: $_min-width) and (max-width: $_max-width) {
        &{ @content; }
    }
}

// margin

@mixin margin-main {
    margin: 0 20px;
    @include media-min($tablet) {
     margin: 30px 50px;
    }
    @include media-min($desktop) {
     margin: 40px 100px;
    }
    }