.product {
  display: flex;
  flex-direction: column;
  color: $primary-color;
    
  &__main{
    margin: 0 20px;
    @include media-min($tablet) {
     margin: 0 50px;
    }
    @include media-min($desktop) {
     margin: 0 100px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin: 15px 0 0;

    @include media-min($desktop) {
      flex-direction: row;
      justify-content:space-between;
      margin: 30px 0 0;    
    }
  }
  
  &__title {
    margin: 0;
    font-size: 18px;
    font-weight: 500;

    @include media-min($tablet) {
      font-size: 27px;
    }

    @include media-min($desktop) {
      font-size: 36px;
    }
  }
  
  &__location {
    font-size: 14px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 10px;

    @include media-min($tablet) {
      font-size: 16px;
    }

    @include media-min($desktop) {
      font-size: 18px;
    }
  }
  
  &__tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: center;
  }

  &__tags p{
    width: 84px;
    height: 18px;
    font-size: 10px;
    border-radius: 5px;
    background-color: $primary-color;
    color:$white;
    margin-right: 10px;
    padding: 3px;

    @include media-min($tablet) {
      width: 100px;
      height: 22px;
      font-size: 12px;
      border-radius: 10px;
    }

    @include media-min($desktop) {
      width: 115px;
      height: 25px;
      font-size: 14px;
      border-radius: 10px;
    }
  }
  
  &__host-rating {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;

    @include media-min($desktop) {
      flex-direction: column;
      align-items: flex-end;
    }
  }

  &__host {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 30%;

    @include media-min($desktop) {
      width: 9%;
    }
  }

    &__host img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;

      @include media-min($tablet) {
        width: 48px;
        height: 48px;
        }

      @include media-min($desktop) {
      width: 64px;
      height: 64px;
      }
    }

    &__host p {
      text-align: right;
      font-size: 12px;
      margin: 0 10px;
      font-weight: 500;

      @include media-min($tablet) {
        font-size: 16px;
      }

      @include media-min($desktop) {
        font-size: 18px;
      }
    }

  &__rating{     
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:25%;

    @include media-min($tablet) {
      width: 16%;
      margin: 20px 0 20px 0;
    }

    @include media-min($desktop) {
      width: 100%;
      margin: 20px 0 20px 0;
    }
   
    &--star {
      width: 13.41px;
      height: 13px;

      @include media-min($tablet) {
        width: 18.75px;
        height: 18px;
      }

      @include media-min($desktop) {
        width: 24.75px;
        height: 24px;
      }
    }
  }

  &__collapse{
    @include media-min($tablet) {
    min-height: 515px;

    & > div{
      & > button {
        font-size: 15px;
        border-radius: 10px;
      }

      & > div.collapse__content {
      border-radius: 0 0 10px 10px;
      padding : 15px 0;

        & > p, ul {
          font-size: 15px;
          line-height: 25,67px;
        }
      }
    }

    }
    @include media-min($desktop) {
      display: grid;
      grid-template-columns: repeat(2,53%);
      align-items: start;

      & > div{
        & > button {
          font-size: 18px;
          border-radius: 10px;
        }
  
        & > div.collapse__content {
        border-radius: 0 0 10px 10px;
        padding : 35px 0;
        height: 300px;

          & > p, ul {
            font-size: 18px;
            line-height: 25,67px;
          }
        }
      }
    }
  }
}

