.banner {
    height: 111px;
    position: relative;
    margin : 20px 0px;
    border-radius: 10px;
    overflow: hidden;

    @include media-min($desktop) {
      height: 223px;
    }
  
  
    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
      transform: scale(1.8);

      @include media-min($tablet) {
        transform: scale(1.18);
      }
  
      @include media-min($desktop) {
        transform: none;
        border-radius: 10px;
      }
    }
  
    &__title {
      position: absolute;
      left: 20px;
      top: 14px;
      font-size: 24px;
      font-weight: 500;
      color: $white;
      width:65%;
      line-height: 24px;
      letter-spacing: 0.5px;

      @include media-min($tablet) {
        font-size: 33px;
        top: 15%;
        right: 20%;
        left:20%;
        line-height: 30px;
      }

      @include media-min($desktop) {
        font-size: 48px;
        line-height: 48px;
      }
    }
  
    &__filigrane {
      position: absolute;
      top: 0;
      background: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
      height: 100%;
      width: 100%;
      border-radius: 10px;
    }
}
  
.about__banner > .banner {
height: 223px;
border-radius: 25px;
}

.about__banner > .banner__banner__img {
  transform: scale(1.15);

    @include media-min($desktop) {
      transform: none;


  }
}
.about__banner > .banner__banner__filigrane {
    @include media-min($desktop) {
      border-radius: 25px;
  
    }
}