.footer {
  width: 100%;
    background: $black;
    height: 209px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;

 
    &__logo {
      margin-top: 4%;
    }
  
    &__text {
      color: $white;
      font-weight: 500;
      font-size: 12px;
  
      @include media-min($tablet) {
        font-size: 18px;
      }

      @include media-min($desktop) {
        font-size: 24px;
      }
    }
  }