.navbar {
    display: flex;
    justify-content: space-between;

    
    @include media-min($tablet) {

    }

    @include media-min($desktop) {

    }
    
  
    &__link {
      display: flex;
      justify-content: space-around;
      width: 50%;
      text-transform: uppercase;
      font-size: 12px;

      @include media-min($tablet) {
        width: 36%;
        font-size: 20px;
        text-transform: none;
      }
  
      @include media-min($desktop) {
        width: 28%;
        font-size: 24px;
        text-transform: none;
      }
      
  

  
      &--active, &--inactive {
        width: 50%;
        color: $primary-color;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-weight: 500;
        text-decoration: underline;
      }
  
      &--inactive {
        text-decoration: none;
      }
    }
  
    &__img {
      height: 48px;

      @include media-min($tablet) {
        height: 52px;
      }

      @include media-min($desktop) {
        height: 52px;
      }


    }
  }
  